<form action="/medications/<%= @medication.id %>" method="post">
    <input type="hidden" name="_method" value="patch">

    <label for="medication">Medication</label>
    <input type="text" name="medication[medication_name]" value="<%= @medication.medication_name %>"/>

    <label for="class">Class</label>
    <input type="text" name="medication[therapeutic_class]" value="<%= @medication.therapeutic_class %>"/>

    <label for="indication">Indication</label>
    <input type="text" name="medication[indication]" value="<%= @medication.indication %>"/>

    <label for="dose">Dose</label>
    <input type="text" name="medication[dose]" value="<%= @medication.dose %>"/>

    <label for="frequency">Frequency</label>
    <input type="text" name="medication[frequency]" value="<%= @medication.frequency %>"/>

    <input type="submit" value="Submit">

</form>