<center>
<h1><%= @medication.medication_name %></h1>
<h3>Indication: <%= @medication.indication %></h3>

<p>
Class: <%= @medication.class %><br>
Dose: <%= @medication.dose %><br>
Frequency: <%= @medication.frequency %><br>
Instructions: <%= @medication.instructions %><br>
</p> 

<form method="get" action="/medications/<%= @medication.id %>/edit">
<input type="submit" name="edit" value="Edit">
</form>

<form method="post" action="/medications/<%= @medication.id %>">
<input type="hidden" input id="hidden" name="_method" value="Delete">
<input type="submit" input id="delete" name="delete" value="Delete">
</form>

<p><a href="/medications">Go back to medication list.</a></p>

</center>